PORT=3000
JWT_SECRET=dev-secret-change-me
FRONTEND_URL=http://localhost:5173

# Microservices URLs
AUTH_SERVICE_URL=http://auth-service:8001
ACADEMIC_SERVICE_URL=http://academic-service:8002
FINANCE_SERVICE_URL=http://finance-service:8003
HR_SERVICE_URL=http://hr-service:8004
MESSAGE_SERVICE_URL=http://message-service:8005
NOTIFICATION_SERVICE_URL=http://notification-service:8006